ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: #8a2be259;
    width: max-content;
}

li{
    margin: 10px;
    background-color: #ff0000a1;
    text-align: center;
    padding: 10px;
}