 

form div {
    margin-bottom: 20px;
}

.inline-block {
    display: inline-block; 
}

.w-50{
    width: 50%;
}

.w-150{
    width: 150px;
}

.flex{
    display: flex;
}

.mb-1{
    margin-bottom: 1rem;
}