.required::after{
    content: "*";
    color: red;
}

label{
    display: inline-block;
    width: 120px;
}

input, textarea {
    width: 300px;
    padding: 10px;
}

input[type="submit"] {
    width: auto;
}

label + input {
    background-color: rgb(219, 241, 248);
}

.form-control{
    margin: 10px;
}